#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
binaries/*
data/*
__pycache__/

.idea
gems.locked

.DS_Store
*.pyc

