#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
binaries/*
data/*

.idea
gems.locked

.vscode/
