name: prof-correctness
on:
  push:
  schedule:
    - cron: "0 0 * * *"
jobs:
  schema-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.25.1
      - name: Run schema validation tests
        run: go test -v -run TestSchemaValidation
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install ruff
        run: pip install --no-cache-dir ruff
      - name: Run ruff format check
        run: ruff format --check .
      - name: Run ruff lint check
        if: success() || failure()
        run: ruff check .
  ddprof:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: ddprof.*
    secrets: inherit
  dotnet:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: dotnet.*
    secrets: inherit
  ruby:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: ruby.*
    secrets: inherit
  node:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: node.*
    secrets: inherit
  python:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: python.*
    secrets: inherit
  full_host:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: full_host.*
    secrets: inherit
