name: prof-correctness
on:
  push:
  schedule:
    - cron: "0 0 * * *"
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install ruff
        run: pip install --no-cache-dir ruff
      - name: Run ruff format check
        run: ruff format --check .
      - name: Run ruff lint check
        if: success() || failure()
        run: ruff check .
  ddprof:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: ddprof.*
    secrets: inherit
  dotnet:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: dotnet.*
    secrets: inherit
  ruby:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: ruby.*
    secrets: inherit
  node:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: node.*
    secrets: inherit
  python:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: python.*
    secrets: inherit
  full_host:
    uses: ./.github/workflows/test.yml
    with:
      test_scenarios: full_host.*
    secrets: inherit
